.paginate_buttons {
  display: flex;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  gap: 0.5rem;
  padding: 20px 0px 30px 0px;
  justify-content: center;
}
.paginate_buttons button {
  width: 30px;
  height: 30px;
  background: transparent 0% 0% no-repeat padding-box;
  border: 2px solid #303f60;
  border-radius: 3px;
  opacity: 1;
  color: #303f60;
}
