:root {
  --primary: #43afff;
  --secondary: #303f60;
  --white: #fff;
  --black: #000;
  --bgLight: #edf6ff;
}

.App {
  min-height: 100vh;
}
body {
  background: linear-gradient(180deg, #303f60 50%, #edf6ff 50%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Homepage */
.heroSection {
  padding: 100px 0px;
}
.heroSection h1 {
  font-size: 62px;
}

.text-head {
  color: var(--primary);
}
.why-us .card {
  box-shadow: 0px 3px 6px #557da526;
  border: none;
}
.why-us .card:hover {
  box-shadow: 0px 3px 6px #557da5a8;
}
.imageGallery {
  display: flex;
  /* justify-items: center; */
  /* align-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 30px;
}
*,
html,
body {
  font-family: "Helvetica";
}

a.navbar-brand.my-logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.my-logo span {
  color: var(--primary);
}

.header-border {
  border-bottom: 2px solid #ffffff2e;
  padding-bottom: 10px;
}
.header-border a.btn {
  background: #43afff33;
  border: 1px solid var(--primary);
  border-radius: 5px;
  opacity: 1;
  font-size: 18px;
}
.header-border a.btn:hover {
  background: var(--secondary);
  border: 1px solid var(--bgLight);
}

.btn.btn-primary {
  background: var(--primary);
  border: 1px solid var(--primary);
  padding: 12px 30px;
}

.btn.btn-primary:hover {
  background: var(--secondary);
  border: 1px solid var(--bgLight);
}

/* Job List */
.job-wrapper {
  padding: 40px 10px;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.job-wrapper .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}
/* Home Page why-us Section */

.why-us h3 {
  color: var(--primary);
  font-size: 22px !important;
  margin-bottom: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .heroSection h1 {
    font-size: 48px;
  }
  .heroSection .row {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
  }
  .heroSection img {
    width: 100%;
  }
  .companyLogo img {
    width: 100%;
  }
  .modal_background .col,
  .jobs_upper .row .col.col-4 {
    width: 100% !important;
  }
  .modal_background {
    top: 15% !important;
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
    min-height: 500px !important;
    padding: 20px 10px !important;
  }

  body {
    background: linear-gradient(180deg, #303f60 60vh, #edf6ff 40vh);
  }
}
.card-body {
  color: #000 !important;
}
